<% form_for [@account, @user_account] do |f| %>
  <%= f.error_messages :header_message => t('.error_creating_user_account') %>
  
  <p class="form_item">
    <span class="label"><%= f.label :email, t('.email') %></span>
    <%= f.text_field :email %>
  </p>
  
  <%= f.submit t('.add') %>
<% end %>
