<% if @health_checks.empty? %>
  <div><%= t('.no_health_checks_found') %></div>
<% else %>
  <% if @report == 'overview' %>
    <%= render "overview" %>
  <% else %>
    <%= render "details" %>
  <% end %>
<% end %>
