<% if @health_checks.empty? %>
  <p><%= t('.no_health_checks_defined') %></p>
<% else %>
  <% if params[:report] == 'overview' %>
    <%= render :partial => "overview" %>
  <% else %>
    <%= render :partial => "details" %>
  <% end %>
<% end %>
