<% if @health_checks.empty? %>
  <p><%= t('.no_health_checks_found') %></p>
<% else %>
  <% if params[:report] == 'overview' %>
    <%= render "overview" %>
  <% else %>
    <%= render "details" %>
  <% end %>
<% end %>
