<p>
  <%= f.label variable.name, variable.display_name, :class => variable.required? ? 'control-label required' : 'control-label' %>
  <%= f.text_field variable.name, :class => 'form-control' %>
  <small><%=h variable.description %></small>
</p>
