<div class="control-group">
  <%= f.label variable.name, variable.display_name, :class => variable.required? ? 'control-label required' : 'control-label' %>
  <div class="controls">
    <%= f.text_field variable.name %>
    <p><small><%=h variable.description %></small></p>
  </div>
</div>
