<h2><%= t('.all_health_checks') %></h2>

<%= render :partial => "/shared/filter", :locals => { :url => health_checks_path(:report => params[:report]) } %>

<% tabs(:selected => @report.to_sym) do |a| %>
  <% a.tab :details, t('health_checks.report.details'), health_checks_path(:report => 'details') %>
  <% a.tab :overview, t('health_checks.report.overview'), health_checks_path(:report => 'overview') %>
<% end %>

<%#= auto_update 'checks' %>
<div id="checks">
  <%= render :partial => "list" %>
</div>
