<% title t('.edit_health_check_for_site', :health_check => @health_check.name, :site => @site.name) %>

<div class="box">
  <div class="box-body">
    <%= render :partial => "tabs", :locals => { :selected => :edit } %>

    <%= render :partial => "form" %>
  </div>
</div>
