<h2><%= t('.health_checks_for_site', :site => @site.name) %></h2>

<%= render :partial => "/sites/tabs", :locals => { :selected => :health_checks } %>

<%= render :partial => "/shared/filter", :locals => { :url => account_site_health_checks_path(@account, @site, :report => params[:report]) } %>

<% tabs(:selected => @report.to_sym) do |a| %>
  <% a.tab :details, t('health_checks.report.details'), account_site_health_checks_path(@account, @site, :report => 'details') %>
  <% a.tab :overview, t('health_checks.report.overview'), account_site_health_checks_path(@account, @site, :report => 'overview') %>
<% end %>

<%#= auto_update 'checks' %>
<div id="checks">
  <%= render :partial => "list" %>
</div>

<% if current_user.can_create_health_checks?(@account) %>
  <p>
    <% action_list do |a| %>
      <% a.link_to t('.new_health_check'), new_account_site_health_check_path(@account, @site) %>
      <% a.link_to t('.new_from_template'), new_account_site_health_check_path(@account, @site, :template => 'select') %>
      <% a.link_to t('.import'), new_account_site_health_check_import_path(@account, @site, :template => 'select') if current_user.can_create_health_check_imports?(@account) %>
    <% end %>
  </p>
<% end %>
