<div class="box">
    <div class="box-body">
      <% if @health_check_template %>
        <%= render :partial => "template_form" %>
        <%= render :partial => "preview" if @preview %>
      <% elsif params[:template] %>
         <%= render :partial => "/health_check_templates/select", :locals => { :url => partial_route(:new_account_site_health_check_path, @account, @site) } %>
      <% else %>
         <%= render :partial => "form" %>
    <% end %>
    </div>
</div>
