<h2><%= t('.admin_area') %></h2>

<ul class="asterisk">
  <li><%= link_to t('.accounts'), admin_accounts_path %></li>
  <li><%= link_to t('.users'), admin_users_path %></li>
  <li><%= link_to t('.footer_links'), admin_footer_links_path %></li>
</ul>
