/* 

  - project Home Of Projects -
  
  This is the main css file for the website, where 
  all the design is defined.

*/

@import url('reset.css');
@import url('misc.css');
@import url('roundcorners.css');
@import url('ads.css');
@import url('typo.css');
@import url('flash.css');
@import url('checks.css');

body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  background: #333333;
}

#wrap {
  width: 860px;
  margin: 30px auto 0 auto; /* Top 30px, left auto, bottom 0 cause it doesn't work, and right auto, the auto is to put it into center. */
  background: #ffffff url(../images/wrap_corner_left.jpg) top left no-repeat;
  font-size: 1em;
  font-family: Tahoma, Verdana, Arial;
}
.wrap_corner_right {
  background: url(../images/wrap_corner_right.jpg) top right no-repeat;
}
.bottom_space {
  margin-bottom: 30px;
}
#topcontent {
padding: 3px 3px 0 3px;
}
#header {
  background: #336699 url(../images/header_corner_left.jpg) top left no-repeat;
}
#top_header {
  background: url(../images/header_corner_right.jpg) top right no-repeat;
}

#header #logo { 
  padding: 20px 0 0 20px; 
  width: 275px;
  float: left;
}
#header #logo a { text-decoration:none; color: #FFFFFF; }
#header #logo a img { border:none; }
#header #logo { height: 55px; }
#header #logo h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}
#header #logo h1 span {
  font-size: 1em;
}
#header #logo p {
   margin: 0;
   padding: 0;
   color: #CCDDEE;
   font-size: 1.4em;
}

#header #center_header {
  float: left;
  width: 275px;
  color: #FFFFFF;
  font-size: 1.1em;
}
#header #center_header a {
  color: #ffffff;
  text-decoration: underline;
}

#header #center_header #suggestion {
  background: #2C5783 url(../images/suggestion_corner_left_bottom.jpg) bottom left no-repeat;
}
.suggestion_corner_right {
  background: url(../images/suggestion_corner_right_bottom.jpg) bottom right no-repeat;
  padding: 10px 10px;
  text-align: center;
}

#header #right_header {
  float: right;
  text-align: right;
  width: 255px;
  color: #FFFFFF;
  padding: 10px 20px 0 0;
  font-size: 1.1em;
}

#header #right_header a { text-decoration: none; color: #FFFFFF; }
#header #right_header a:hover { text-decoration: underline; }

#header #menu_container { padding: 10px 20px 0 20px; }
#header #menu {
  height: 25px;
  background: #264E75 url(../images/menu_bg.jpg) top right no-repeat;
  font-size: 1.1em;
}
#header #menu ul {
  list-style: none;
  height: 25px;
  margin: 0;
  padding: 0;
}
#header #menu ul li {
  display: inline;
}
#header #menu ul li a {
  display: block;
  float: left;
  color: #ffffff;
  height: 25px;
  text-decoration: none;
  line-height: 25px;
  background: url(../images/menu_bg_separator.jpg) top left no-repeat;
  padding: 0 10px;
}
#header #menu ul li a.active {
  background: #204264 url(../images/menu_bg_separator.jpg) top left no-repeat;
}
#header #menu ul li a.first {
  background: url(../images/menu_bg_leftcorner.jpg) top left no-repeat;
}
#header #menu ul li a:hover {
  text-decoration: underline;
  /* color: #CCDDEE; */
}
#header #menu ul li:last-child {
  float: right;
}

/* menu user */

#header #menu_user {
  height: 25px;
  background: #204264;
  font-size: 1.1em;
}
#header #menu_user ul {
  list-style: none;
  height: 25px;
  margin: 0;
  padding: 0 20px 0 20px;
}
#header #menu_user ul li {
  display: inline;
}
#header #menu_user ul li a {
  display: block;
  float: left;
  color: #ffffff;
  height: 25px;
  text-decoration: none;
  line-height: 25px;
  padding: 0 10px;
}
#header #menu_user ul li a:hover {
  text-decoration: underline;
  /* color: #CCDDEE; */
}

#body {
  background: url(../images/body_bg.jpg) top left repeat-x;
  padding: 25px 20px 0 20px;
  font-size: 1.2em;
}
#body .body_left {
  float: left;
  width: 405px;
}
#body .body_right {
  float: right;
  width: 405px;
}
#body.maintenance {
  background: url(../images/maintenance.jpg) bottom right no-repeat;
}
#body h1 {
  font-size: 1.4em;
  color: #264E75;
  margin: 0 0 15px 0;
  padding: 0;
  font-family: Arial;
}
#body p {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  margin: 0 0 15px 0;
  padding: 0;
}

#body a {
  color: #336699;
  text-decoration: underline;
}
#body a:hover {
}

#body ul.asterisk,
.help-content ul {
  padding: 0 20px;
  margin: 0 0 15px 0;
  list-style: none;
  font-size: 1.1em;
}
#body ul.asterisk li,
.help-content ul li {
  padding: 0 0 5px 15px;
  background: url(../images/ul_asterisk_li.jpg) 1px 3px no-repeat;
}
#body ul.asterisk li.green {
  background: url(../images/ul_asterisk_li_green.jpg) 1px 3px no-repeat;
  color: #00CC00;
}

#body #body_left {
  width: 400px;
  float: left;
}
#body #body_left p.ideas {
}
#body #body_left p.ideas span {
  font-weight: bold;
  color: #950065;
}

#body #body_right {
  width: 390px;
  padding-left: 20px;
  float: right;
}
.yellow {
  background: #FFFF9B;
}
.yellow_container {
  padding: 0;
  margin: 0 0 15px 0;
}

#body #body_right #project_signup {
  float: left;
  width: 165px;
  padding-left: 10px;
}
#body #body_right #member_signup {
  float: right;
  width: 166px;
  padding: 0 10px;
}

#body #body_right #signup {
  font-size: 1.1em;
}

#body #body_right #signup .title {
  font-family: Arial;
}

#body #body_right #signup a.signup {
  color: #FFFFFF;
  background: #950065;
  display: block;
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

#body #body_right #signup .title {
  color: #264E75;
  font-weight: bold;
  margin-bottom: 10px;
}

#bottomcontent {
  background: url(../images/bottomcontent_corner_left.jpg) bottom left no-repeat;
}
#bottomcontent .bottomcontent_right {
  background: url(../images/bottomcontent_corner_right.jpg) bottom right no-repeat;
  padding: 3px;
}
#footer {
  background: #336699 url(../images/footer_corner_left.jpg) bottom left no-repeat;
  border-top: 1px solid #264E75;
  color: #FFFFFF;
  font-size: 1.1em;
}
#footer .footer_corner_right {
  background: url(../images/footer_corner_right.jpg) bottom right no-repeat;
}
#footer .left,
#footer .right {
  padding-bottom: 15px;
  padding-top: 15px;
}
#footer .left {
  width: 600px;
  float: left;
  padding-left: 20px;
}
#footer .left a {
  color: #FFFFFF;
  text-decoration: none;
}
#footer .left a:hover {
  text-decoration: underline;
}
#footer .right {
  background: url(../images/footer_divider.jpg) top left no-repeat;
  width: 180px;
  float: right;
  padding-left: 15px;
  padding-right: 20px;
}
#footer .right a {
  color: #ffffff;
  text-decoration: underline;
}
.tos_titles {
  color: #950065;
  font-weight: bold;
}
.form_item {
}
.form_item span.label {
  color: #950065;
  display: block;
}
.form_item span.check-box-label {
  color: #950065;
}
.form_item span.desc {
  color: #999999;
  display: block;
}
.form_item span.error {
  color: #FF0000;
}
.form_item input.wide {
  width: 250px;
}

/* .notice - messages to user
--------------------------------*/
  #notice {
    padding: 15px 15px 0 15px;
    display: none;
    margin: 0 0 15px 0;
  }
  #notice p {
    padding: 0 0 15px 0;
    margin: 0;
  }
  .flash .notice {
    background: #CAEA99; 
    border: 1px solid #70A522; 
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333333;
  }
  .flash .error {
    background: #FEDCDA; 
    border: 1px solid  #CE090E; 
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333333;
  }
  #notice a {
    color: #333333;
    text-decoration: underline;
  }


.errorExplanation { border: 2px solid red; color: red; padding: 1em; margin-bottom: 1em; }
.fieldWithErrors label { color: red; }
.fieldWithErrors input { border: 2px solid red; }

table.list { border: 1px solid gray; width: 100%; }
table.list th { text-align: left; border-bottom: 2px solid gray; }
table.list tr:nth-child(even) { background-color: lightgray; }
table.list tr:nth-child(odd) { background-color: white; }
table.list tfoot tr { border-top: 2px solid gray; }
.handle { cursor: move; }

ul.action-list { margin: 0 0 15px 0; }
ul.action-list li { display: inline; padding: 0 7px 0 3px; border-right: 1px solid black; }
ul.action-list li:last-child { border: none; }

.overall-status { float: right; vertical-align: middle; }

table.edit-multiple tr td { vertical-align: top; }

label.required:after { content: "*"; }
