<% if @check_runs.empty? %>
  <p>No activity yet.</p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th>When</th>
        <th>Site</th>
        <th>Health Check</th>
      </tr>
    </thead>
    <tbody>
      <% @check_runs.each do |check_run| %>
        <tr>
          <td><%= time_ago_in_words(check_run.created_at) %></td>
          <td><%= link_to check_run.health_check.site.name, site_path(check_run.health_check.site) %></td>
          <td><%= link_to check_run.health_check.name, site_health_check_path(check_run.health_check.site, check_run.health_check) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>