<h2>Quick links</h2>

<ul class="asterisk">
  <li><%= link_to 'Add site', new_site_path %></li>
</ul>

<h2>Recent Activity</h2>

<%= auto_update 'activity' %>
<div class="activity">
  <%= render :partial => "activity" %>
</div>
