<div class="btn-group">
  <%= link_to text, url, options.merge(:class => 'btn btn-sm btn-flat btn-default') %>
  <button class="btn btn-sm btn-flat btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% items.each do |item| %>
      <li><%= link_to item[:text], item[:url], item[:options] %></li>
    <% end %>
  </ul>
</div>
