@import "_core";

#canvas {
  #checks {
    .check-overview li {
      width: 9.4em;
      height: 3.6em;
      border: 1px solid #AED1F1;
      float: left;
      padding: 5px;
      overflow: hidden;

      div.status { width: 40px; float: left; }
      div.details { margin-left: 40px; }
    
      span.secondary { font-size: 0.8em; }
      
      margin-right: 0.3em;
      margin-bottom: 0.3em;
    }
  }
}

// table iframe { width: 100%; height: 200px; }
