<h2>Erstellen Sie Ihren ersten Funktionstest</h2>

<p><em>Funktionstests</em> werden in TinyMon <em>Sites</em> zugeordnet. Damit Sie einen Funktionstest erstellen können müssen Sie zuerst <%= link_to 'eine Site erstellen', new_site_path %>. Folgen Sie diesen fünf simplen Schritten, um Ihren ersten Funktionstest zu erstellen.</p>

<ol>
  <li><strong>Erstellen Sie eine Site:</strong> Gehen Sie zu <%= link_to 'Neue Site', new_site_path %> um eine neue Site anzulegen. In den meisten Fällen sollten Sie als Basis-URL die Startseite Ihrer Website eintragen (vergessen Sie nicht das "http://").</li>
  <li><strong>Erstellen Sie einen Funktionstest für Ihre Site:</strong> Auf der Seite Ihrer Site klicken Sie bitte auf "Neuer Funktionstest aus Vorlage".</li>
  <li><strong>Wählen Sie eine Vorlage:</strong> Wir werden die einfachste Art von Funktionstest erstellen, der sogenannte "Up-Check". Dieser prüft einfach nur, ob Ihre Website normal antwortet. Um diese Vorlage zu wählen, klicken Sie auf "Up-Check".</li>
  <li><strong>Füllen Sie das Formular aus:</strong> Geben Sie die URL an, die der Funktionstest laden soll. Diese URL kann relativ zu der Basis-URL der Site sein (also "/" für die Startseite). Sie können außerdem einen Text von der Seite kopieren und in das Feld "Content" einfügen. Achten Sie darauf, dass Sie einen Text wählen, der immer zu sehen ist, wenn Ihre Website korrekt arbeitet. Damit können Sie feststellen, ob Ihre Site tatsächlich den erwarteten Inhalt zurückliefert (und nicht etwa eine Fehlerseite).</li>
  <li><strong>Testen Sie:</strong> Auf der Seite Ihres Funktionstests klicken Sie auf "Jetzt prüfen", um den Funktionstest zu starten.</li>
</ol>
