<h2><%= t('.settings') %></h2>

<%= form_for :configuration, :url => settings_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => "/settings/form", :locals => { :config => @configuration, :f => f } %>
  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.update'), :class => 'btn' %>
    </div>
  </div>
<% end %>
