<div class="control-group">
  <%= f.label :content, t('.content'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :content %>
  </div>
</div>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
