<p class="form_item">
  <span class="label"><%= f.label :url, t('.url') %></span>
  <span class="desc"><%= t('.absolute_url') %></span>
  <%= f.text_field :url %>
</p>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
