<p>
  <%= f.label :link_pattern, t('.link_pattern'), :class => 'control-label required' %>
  <%= f.text_field :link_pattern, :class => 'form-control' %>
  <small><%= t('.substring_of_url') %></small>
</p>

<p><%= t('steps.email_must_be_checked_before_this_step') %></p>
