<div class="control-group">
  <%= f.label :link_pattern, t('.link_pattern'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :link_pattern %>
    <p><small><%= t('.substring_of_url') %></small></p>
  </div>
</div>

<p><%= t('steps.email_must_be_checked_before_this_step') %></p>
