<p class="form_item">
  <span class="label"><%= f.label :name, t('.name') %></span>
  <span class="desc"><%= t('.name_specifying_link') %></span>
  <%= f.text_field :name %>
</p>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
