<p class="form_item">
  <span class="label"><%= f.label :field, t('.field') %></span>
  <%= f.text_field :field %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :value, t('.value') %></span>
  <%= f.text_field :value %>
</p>
