<p>
  <%= f.label :css, t(".css"), :class => 'control-label' %>
  <%= f.text_area :css, :class => 'form-control enter-code' %>
  <small><%= t(".custom_style_declarations") %></small>
</p>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
