<p class="form_item">
  <span class="label"><%= f.label :css, t(".css") %></span>
  <span class="desc"><%= t(".custom_style_declarations") %></span>
  <%= f.text_area :css %>
</p>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
