<% for attribute in attributes -%>
<p>
  <%%= f.label :<%= attribute.name %>, t('.<%= attribute.name %>'), :class => 'control-label' %>
  <%%= f.text_field :<%= attribute.name %> %>
  <small><%= t('.description') %></small>
</p>
<% end -%>
