<% for attribute in attributes -%>
<div class="control-group">
  <%%= f.label :<%= attribute.name %>, t('.<%= attribute.name %>'), :class => 'control-label' %>
  <%%= f.text_field :<%= attribute.name %> %>
</div>
<% end -%>