@import "_core";

#canvas {
  div.help {
    @include rounded_corners;
    
    background-color: #AEF5BA;
    border: 2px solid #60F57A;
    padding: 1em;
    
    >*:first-child {
      margin-top: 0 !important;
    }
    
    a.close {
      float: right;
    }
  }
}