/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require "bootstrap"
 *= require font-awesome
 *= require "health_checks"
 *= require "admin_lte"
 *= require "check_runs"
 *= require_self
 */


.status-icon {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
body > .header .logo {
  font-family: inherit;
}
.user-panel > .info {
  margin-left: 45px;
}
footer .content {
  background: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
}
aside.right-side {
  padding-bottom: 40px;
}

.fa.fa-exclamation.bg-red,
.fa.fa-check.bg-green,
.fa.fa-warning.bg-yellow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #666;
  background: #eee;
  border-radius: 50%;
  text-align: center;
}

.dropdown-menu li.selected a {
  font-weight: bold;
}

.disabled {
  text-decoration: line-through;
}

.small-box > .inner {
  max-height: 90px;
}

table {
  margin-bottom: 20px !important;

  th.check {
    width: 20px;
  }

  th.status,
  td.status {
    width: 45px;
  }

  th.options,
  td.options {
    width: 130px;
  }
}

textarea.enter-code {
  font-family: "Courier New", Courier, monospace;
}

div.pagination {
  text-align: center;
  width: 100%;
}

ul.pagination {
  margin: 0 auto;
}

@media(max-width:767px) {
  .health_check_overview_box {
    a {
      font-size:80%;
    }
    h4 {
      font-size:90%;
    }
  }
  .content {
    padding: 0;
  }

  .timeline > li {
    margin-right: -10px;
    margin-left: -15px;
  }
  
  .timeline::before {
    left:30px;
  }

  input[type='text'], input[type='email'], input[type='password'], input[type='number'], textarea {font-size:16px;}

  code {
    white-space: normal;
  }

  .well {
    padding: 10px;
  }

  div.nav-logo {
    font-size: 20px;
    top: 10px;
    width:100%;
    display: block;
    padding-left:50px;
    padding-right:50px;
    text-align:center;
    position:relative;

    a {
      color: white;
    }
  }
}
