/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require "bootstrap"
 *= require_tree .
 *= require "AdminLTE"
 *= require font-awesome
 */
.status-icon {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
body > .header .logo {
  font-family: inherit;
}
.user-panel > .info {
  margin-left: 45px;
}
footer .content {
  background: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
}
aside.right-side {
  padding-bottom: 40px;
}

.fa.fa-exclamation.bg-red,
.fa.fa-check.bg-green {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #666;
  background: #eee;
  border-radius: 50%;
  text-align: center;
}

.dropdown-menu li.selected a {
  font-weight: bold;
}

.disabled {
  text-decoration: line-through;
}

th.check {
  width: 20px;
}

th.status,
td.status {
  width: 45px;
}
