.check-overview {
  margin: 0;
  div {
    overflow: hidden;
    border-radius: 2px;
    div.status {

    }
    
    div.details {
      margin-left: 30px;
    }
    
    &.error {
      background-color: #f2dede;
    }
    
    &.success {
      background-color: #dff0d8;
    }
  }
}


