.check-overview {
  margin: 0;
  li {
    list-style-type: none;
    width: 18%;
    height: 60px;
    float: left;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    
    div.status {
      float: left;
      width: 32px;
    }
    
    div.details {
      margin-left: 40px;
    }
    
    &.error {
      background-color: #f2dede;
    }
    
    &.success {
      background-color: #dff0d8;
    }
  }
}
