<%= title t('.all_users') %>

<div class="box">
  <div class="box-body">
    <% if @users.empty? %>
      <p><%= t('.no_users') %></p>
    <% else %>
      <%= render :partial => "/shared/filter", :locals => { :url => admin_users_path } %>
  
      <div id="users">
        <%= render :partial => "index" %>
      </div>
    <% end %>
  </div>
</div>
