<h2><%= t(".choose_template") %></h2>

<% tabs(:selected => (params[:filter] || :all).to_sym) do |a| %>
  <% a.tab :mine, t(".my_templates"), new_account_site_health_check_import_path(@account, @site, :template => 'select', :filter => 'mine') %>
  <% a.tab :account, t(".account_templates"), new_account_site_health_check_import_path(@account, @site, :template => 'select', :filter => 'account') %>
  <% a.tab :public, t(".public_templates"), new_account_site_health_check_import_path(@account, @site, :template => 'select', :filter => 'public') %>
  <% a.tab :all, t(".all_templates"), new_account_site_health_check_import_path(@account, @site, :template => 'select', :filter => 'all') %>
<% end %>

<%= render :partial => "/health_check_templates/select" %>
