<%= title t(".health_checks_for_import") %>

<div class="box">
  <div class="box-body">
    <p><%=h @health_check_import.description %></p>

    <%= render :partial => "/health_checks/details" %>
  </div>
</div>
