<h2><%= t(".edit_template", :template => @health_check_template.name) %></h2>

<%= form_for @health_check_template, :html => { :class => 'form' } do |f| -%>
  <%= f.error_messages :header_message => t('.could_not_update_template') %>
  
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end -%>
