<% title t('.screenshot_for_check_run_health_check_site', :check_run => @check_run.id, :health_check => @health_check.name, :site => @site.name) %>

<div class="box">
  <div class="box-body">
    <p><%= link_to image_tag(@screenshot.public_path, :class => 'screenshot'), @screenshot.public_path %></p>
  </div>
</div>
