<% title t('.edit_site', :site => @site.name) %>

<div class="box">
  <div class="box-header">
    <div class="box-tools">
      <%= render :partial => "tabs", :locals => { :selected => :edit } %>
    </div>
  </div>

  <div class="box-body">
    <%= render :partial => "form" %>
  </div>
</div>
