<h2><%= t('.check_runs_of_health_check_site', :health_check => @health_check.name, :site => @site.name) %></h2>

<%= auto_update 'activity' %>
<div id="activity">
  <%= render :partial => "/check_runs/activity" %>
</div>
