<% title t('.new_account') %>

<div class="box">
  <div class="box-body">
    <%= render :partial => "no_account" if current_user.accounts.empty? %>
    <%= render :partial => "form" %>
  </div>
</div>
